#slider{

	width: 600px;
	height: 400px;
	overflow: hidden;
	border-radius: 3px;
	padding: 0px;
	margin-bottom: 20px;
	margin-top: 1px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 10px 10px 5px #FBAEC9;
}

#slider > img {
	width: 600px;
	height: 400px;
	/*float: center;*/
	display: none;
	border-radius: 3px;
}

