#slider{

	width: 300px;
	height: 200px;
	overflow: hidden;
	border-radius: 3px;
	padding: 0px;
	margin-bottom: 20px;
	margin-top: 350px;
	margin-left: 70px;
	margin-right: auto;
	box-shadow: 1px 1px 5px #FBAEC9;
}

#slider > img {
	width: 300px;
	height: 200px;
	/*float: center;*/
	display: none;
	border-radius: 3px;
}

