body{
	background-image: url("http://bestwallpaperhd.com/wp-content/uploads/2013/05/mothers-day-cards.jpg");
	background-size: 1280px  700px;
	background-repeat: no-repeat;
}

.mamaday{
	position: relative;
	left: 300px;
	top: 250px;
	height: 200px;
    width: 700px;
	-ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
    padding: 0px;
    margin:1px;
}

.lovedar{
	position: relative;
	left: 600px;
	top: 170px;
	height: 100px;
    width: 400px;
	-ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
    padding: 0px;
    margin: 1px;
}

.mamame{
	position: relative;
	left: 20px;
	top: 10px;
	width: 300px;
	height: 200px;
	overflow: hidden;
	border-radius: 3px;
	padding: 0px;
	box-shadow: 1px 1px 5px #FBAEC9;
}

.mamame img{
	width: 300px;
	height: 200px;
}

.musicplay{
	position: relative;
	top: 30px;
	width: 100%;
	padding: 0px;
	margin-bottom: 1px;
	margin-top: 1px;
}

.musicplay audio{
	position: absolute;
	width: 99%;
	padding: 0px;
	margin-bottom: 1px;
	margin-top: 1px;
}

@media screen and (max-width: 360px){
	body{
		background-size: 360px 680px;
	}

	.mamaday{
		
		left: 300px;
		top: 250px;
		height: 100px;
	    width: 350px;
	
	}
	
	.mamaday{
		left: -30px;
		top: 100px;
		height: 100px;
	    width: 350px;
	}
	.mamaday img{
		height: 200px;
	    width: 350px;
	}

	.lovedar{
		left: 50px;
		top: 120px;
		height: 100px;
	    width: 350px;
	}

	.lovedar img{
		height: 150px;
		width: 250px;
		z-index: -1;
	}


	.mamame{
		width: 190px;
		height: 150px;
		left: 5px;
		top: 190px;
		z-index: -2;
	}
	
	.mamame img{
		width: 190px;
		height: 150px;
	}
	.musicplay{
		
		top: 200px;
		width: 100%;
	}





}